@include easing(cube) {
    transition: all $speed ease-in-out;
}

@include transition(cube) {
    @include type(start) {
        transform: translateZ(50px);
    }
    @include type(end) {
        transform: rotateX(-90deg) translateZ(-50px);
    }
}