
@include easing(pop) {
    transition: all 0.7s $easeOutBack;
}

.pop-enter{
   opacity: 0;
   transform: translate3d(0, 0, 0) scale(0.75);
}
.pop-enter-to{
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
}
.pop-back-enter-to{
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0.75);
}
.pop-back-leave, .pop-leave{
    transition-timing-function: $easeInBack;
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
}
.pop-back-leave-to, .pop-leave-to{
    transition-timing-function: $easeInBack;
   transform: translate3d(0, 0, 0) scale(0.75);
   opacity: 0;
}
