
@include easing(slide-down) {
    transition: all $speed ease-in-out;
}

@include transition(slide-down) {
    @include type(start) {
        transform: translate3d(0, -100%, 0);
    }
    @include type(middle) {
        transform: translate3d(0, 0, 0);
    }
    @include type(end) {
        transform: translate3d(0, 100%, 0);
    }
}
